* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #083B4C;
}

/* UTILITIES CLASSES FOR COLORS */
.number {background: #1389B2;}
.fizz {background: #0BD6A1;}
.buzz {background: #FFD166;}
.fizzbuzz {background: #F0466F;}

.square {
    width: calc(100% / 7 - 20px);  
    aspect-ratio: 1/1;
    position: relative;
}

.gap {
    gap: 20px;
}


span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}